[submodule "predix-machine-template-adapter"]
	path = predix-machine-template-adapter
	url = https://github.com/PredixDev/predix-machine-template-adapter.git
	branch = develop
[submodule "predix-machine-template-adapter-edison"]
	path = predix-machine-template-adapter-edison
	url = https://github.com/PredixDev/predix-machine-template-adapter-edison.git
	branch = develop
[submodule "predix-machine-template-adapter-pi"]
	path = predix-machine-template-adapter-pi
	url = https://github.com/GEXLP/predix-machine-template-adapter-pi
	branch = master
